.container{
	display: inline-block;
	align-content: center;
	justify-content: center;
	margin-left: 100px;
	margin-top: 100px;
}

#gif{
	width: 300px;
}

.loc{
/*	display: none;*/
	border: 1px solid;
	padding: 10px;
	width: 550px;
}

.loc:hover{
	border: 2px solid;
}

.imgs{
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
	border: 2px solid;
	width: 300px;
	padding: 20px;
}

.imgs img{
	width: 145px;
}